/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
.pivot_table {
  position: relative;
}

.widget.pivot_table tr > th,
.widget.pivot_table tr > td {
  padding: 1px 5px;
}

.pivot-table {
  /* border-collapse: separate; */
}

.pivot-table table > tbody {
  
}

.expand-icon {
  width: 14px;
  margin-right: 5px;
  cursor: pointer;
}

.sort-icon {
  cursor: pointer;
  width: 14px;
}

.pivot-table {
  overflow: auto;
  width: 100%;
}

.pivot-table thead tr {
  border:0;
}

.column-header {
  position: sticky;
  top: 0;
  background: white;
  z-index: 100;
}

.row-header.pivot-th {
  position: sticky;
  left: 0;
  background: white;
  z-index:200;
  padding:0;
  border-left: 0;
}

.row-header.pivot-th > div {
  padding: 5px;
  margin: -1px;
  margin-left: -2px;
  border: 1px solid #ddd;
  height: 29px;
}

.pivot-table tfoot td {
  position: sticky;
  background: white;
  z-index:150;
  padding: 0;
}

.pivot-table tfoot td.pivot-td {
  position: sticky;
  background: white;
  z-index:150;
  padding: 0;
}

.pivot-table tfoot td > div {
  padding: 5px;
  margin: -1px;
  margin-left: -2px;
  border-top: 2px solid rgb(75, 75, 75);
  border-bottom: 2px solid rgb(75, 75, 75);
  height: 29px;
}

.pivot-table tfoot th.pivot-th > div {
  padding: 5px;
  margin: -1px;
  margin-left: -2px;
  border-top: 2px solid rgb(75, 75, 75);
  border-bottom: 2px solid rgb(75, 75, 75);
  height: 29px;
}

.column-header.row-header {
  z-index: 300;
}

.column-header.pivot-th {
  padding:0px;
  height: 29px;
}
.column-header.pivot-th > div {
  padding:5px;
  margin: -1px;
  border: 1px solid #ddd;
  height: 29px;
}

.pivot-header {
  
}

.pivot-body {
}

.pivot-tr {
}

tbody > tr > th.first-in-group.row-header {
  border-bottom: 0;
  border-top: 1px solid #ddd;
}

tbody > tr > th.row-header {
  border-top: 0;
}

.pivot-th, .pivot-td {
  white-space: nowrap;
  padding: 2px;
}

.pivot-td {
  text-align: right;
}

.pivot-td  .child-sort-icon {
  margin-left: -14px;
}
